//general 
figcaption a,
.actorAbout a {
  border-bottom: 3px solid $accentDark;
}

//header 

.actorHeader {
  height: 100vh;
}

.headerMain {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

//all images
figure {
  position: relative; 
}

figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(241,241,242, 0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: $headertext;
  color: $text;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

figure:hover figcaption {
  opacity: 1;
}

.headerImg {
  box-shadow: -15px -15px $accentDark;
}

.actorJoke h3 {
  background: $background;
}

//about

.actorAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}


.actorAbout img {
  box-shadow: 15px 15px $accentDark;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download p {
  padding: 15px 0 0 15px;
}

//Past Projects

.past {
  text-align: center;
}

.pastIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.pastIntro h2 {
  padding: 30px 0;
}

.button:active,
.button.is-checked {
  background: $accentDark;
}

button.is-checked {
  text-shadow: 0 -1px $text;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.gridItem {
  width: calc(33% - 10px);
  margin: 5px;
}

.gridItem:nth-of-type(3) {
  margin: 5px 0 5px 5px;
}

//reviews

.review {
  width: calc(33% - 10px);
  border: 3px solid $accentDark;
  box-shadow: 5px 5px 5px $accentDark;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.educator,
.paprika {
  border: 3px solid $accentDark;
  box-shadow: 5px 5px 5px $accentDark;
}
.sheSpreads {
  width: 100%;
}

.banner figcaption {
  padding-top: 5%;
}

//connect 

.connect {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.connect h2 {
  font-size: 3rem;
  padding-bottom: 50px;
}

.connect a {
  border-bottom: 3px solid $accentDark;
}

.middleText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middleText figure {
  width: 30%;
} 

.middleText figure img {
  box-shadow: -15px 15px #1995AD;
}

.love {
  width: 40%;
  border: 3px solid $accent;
  padding: 50px;
  box-shadow: 5px 5px 5px $accent;
}

.love p {
  padding: 22px 0;
}

.actorForm {
  width: 60%;
  border: 3px solid $accent;
  box-shadow: 5px 5px 5px $accent;
  margin: 100px 0px;
}

.actorForm label {
  margin: 20px;
}

.actorForm input[type=text],
.actorForm input[type=email] {
  width: 45%;
}

.stalk {
  text-align: center;
  margin: 0 20px 20px;
  line-height: 2;
  padding-bottom: 20px;
}


.stalk 	h3 {
  font-size: 1.5rem;
  color: $accentdark;
  margin: 0;
}



.insta {
		padding: 5px 45px;
		border-radius: 10%;
		background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
		display: inline;
		border-bottom: none;
  }
  
  .insta a {
    border-bottom: none;
    color: $white;
    font-family: $pagetext;
  }





