header {
  height: 100vh;
  position: relative;
}

.linearGradient {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(-55deg, $background 50%, $accent 50%);
  z-index: -1;
}

header nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

header .container {
  padding: 5% 0;
}

.mobile {
  display: none;
}

.title {
  position: relative;
  width: 50%;
}

.joke h3 {
  position: absolute;
  top: -40%;
  left: 0;
  margin: 0;
  padding: 15px 0;
  opacity: 0;
  background: $accent;
  transition: opacity 0.5s;
}

.joke:hover h3 {
  opacity: 1;
}

.subTitle {
  display: flex;
  justify-content: left;
  margin-top: 5%;
  z-index: 1;
  li {
    margin-right: 30px;
  }
}

.active {
  border-left: 3px solid $accentDark;
  border-bottom: 3px solid $accentDark;
}

.active a {
    padding: 0 0 5px 5px;
}

.menuContainer {
  position: absolute;
  top: 12%;
  left: 90%;
  height: 50px;
  background: $background;
  z-index: 4;
}

.sticky{
  position: fixed;
  top: 0%;
  left: 90%;
  height: 50px;
  z-index: 4;
  border-left: 25px solid $background;
  border-radius: 5px;
}

.menu {
  margin: 0;
  padding: 0;
  position: relative;
}


.menuLink {
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.line1,
.line2,
.line3 {
  height: 3px;
  width: 50px;
  background: $text;
  margin: 7px 0;
  border-radius: 20px;
  transition: transform 0.3s;
  width: 50px;
}

.change.line1 {
    transform: rotate(-45deg) translate(-15px, 12px);
}

.change.line2 {
    opacity: 0;
}

.change.line3 {
    transform: rotate(45deg) translate(-10px, -9px);
}

.lines,
.menuLines {
  position: absolute;
  top: 0;
  left: -215%;
  transition: left 0.5s;
  background: $background;
  display: flex;
  padding: 10px;
}

.lines ul {
  margin-right: 10px;
}

.toggle {
  display: none;
}

.header {
  left: -110%;
  position: absolute;
  top: 25%;
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header h4 {
  line-height: 2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

header h3 {
  margin-bottom: 10px;
}



@media (max-width: 1030px) {
  .joke h3 {
    padding: 10px 0;
  }
}

@media (max-width: 870px) {
.subTitle {
  flex-direction: column;
  align-items: left;
  width: 47%;
}
.subTitle li {
  margin: 15px 0 0 0;
}

.joke h3 {
  top: -10%;
}

span {
  display: block;
}
}

@media (max-width: 760px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .subTitle {
    align-items: center;
  }
}

@media (max-width: 650px) {
  .menuContainer {
    top: 7%;
    left: 50%;
    background: $accent;
  }

  .mobile {
    display: block;
  }

  .mobileDisplay {
    display: flex;
    flex-direction: column;
  }

  .mobileContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    li {
      margin-right: 20px;
    }
  }

  .menuLines {
    position: absolute;
    top: 100%;
    left: -400%;
  }

  .lines {
    top: 0;
    left: -150%; 
  }

  .start {
    display: none;
  }

  .sticky {
    top: 0%;
    left: calc(100% - 100px);
    background: $background;
  }

  .header h1 {
    text-align: center;
  }
  .header h4 {
    display: none;
  }

  .title {
    display: none;
  }
}



@media (max-width: 460px) {

   h1 {
     margin-top: 60px;
   }
  .menuContainer {
    top: 5%;
  }

  .sticky {
    top: 0%;
    left: calc(100% - 100px)
  }

  .click a {
    font-size: 1rem;
    margin: 0;
    z-index: 5;
  }

  .menuLines {
    left: -227%;
    flex-direction: column;
    align-items: center;
    z-index: 6;
  }

  .fa-times {
    order: 1;
  }

  .mobileDisplay {
    order: 2;
  }

  .mobileDisplay li {
    margin-right: 10px;
  }
}


