.portfolio {
  margin-top: 10%;
}

.projectImgMobile {
  display: none;
}

.portfolioText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImg {
  background-color: $background;
}

.portfolioText h2 {
  margin: 10px 0;
  font-size: 3rem;
  position: relative;
}
.portfolioText h2::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 7%;
  height: 20%;
  width: 100%;
  background: $accentDark;
  z-index: -1;
}


.portfolioText h3,
.portfolioText p {
  opacity: 0.7;
}

.projectText p:nth-of-type(1) {
  font-family: $pagetext;
}

.projectContainer {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.projectImg,
.projectText {
  width: 45%;
}

.projectText {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectText h3,
.projectText p {
  margin-bottom: 5%;
}

@media (max-width: 675px) {
  .projectContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .projectContainer .projectImgMobile {
    order: 0;
    width: 85%;
  }
  .projectContainer .projectImgMobile img {
    border-radius: 20px;
    border: 3px solid $text;
    box-shadow: 5px 5px $text;

  }
  .projectImg {
    display: none;
  }

  .projectImgMobile {
    display: inline-block;
  }

  .projectContainer .projectText {
    width: 70%;
    order: 1;
    margin: 40px;
  }

  // .linkButtons {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  .live {
    margin: 15px auto;
  }



}
    