.portfolio {
  margin-top: 10%;
}

.portfolioText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioText h2 {
  margin: 10px 0;
  font-size: 3rem;
  position: relative;
}
.portfolioText h2::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 7%;
  height: 20%;
  width: 100%;
  background: $accentDark;
  z-index: -1;
}


.portfolioText h3,
.portfolioText p {
  opacity: 0.7;
}

.projectText p:nth-of-type(1) {
  font-family: $pagetext;
}

.projectContainer {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.projectImg,
.projectText {
  width: 45%;
}

.projectText {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectText h3,
.projectText p {
  margin-bottom: 5%;
}