article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.actorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.actor,
.actor a {
  font-size: 3rem;
}

.actor a {
  border-bottom: 3px solid #1995AD;
}

.actor a:hover {
  color: #1995AD;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  background: #F1F1F2;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.wrapperSmall {
  width: 90%;
  max-width: 1152px;
  margin: 0 auto;
}

li {
  list-style: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  overflow: hidden;
}

li:hover a,
a:hover {
  color: #1995AD;
  -webkit-transform: scale(2);
          transform: scale(2);
}

img {
  max-width: 100%;
  display: block;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #474946;
  margin: 0;
  padding: 0;
}

p,
li,
a,
ul {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #474946;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

button {
  border-radius: 10px;
  border: 2px solid #1995AD;
  padding: 5px 10px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

button:hover,
.form input[type="submit"]:hover {
  background-color: #A1D6E2;
}

button:active,
.form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 5px #1995AD;
          box-shadow: 0 0 5px #1995AD;
}

button:focus,
.form input[type="submit"]:focus {
  -webkit-transform: scale 1.5;
          transform: scale 1.5;
  -webkit-box-shadow: 0 0 5px #1995AD;
          box-shadow: 0 0 5px #1995AD;
}

header {
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container {
  padding: 5% 0;
}

.mobile {
  display: none;
}

.title {
  position: relative;
  width: 50%;
}

.joke h3 {
  position: absolute;
  top: -40%;
  left: 0;
  margin: 0;
  padding: 15px 0;
  opacity: 0;
  background: #A1D6E2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.joke:hover h3 {
  opacity: 1;
}

.subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 5%;
  z-index: 1;
}

.subTitle li {
  margin-right: 30px;
}

.active {
  border-left: 3px solid #1995AD;
  border-bottom: 3px solid #1995AD;
}

.active a {
  padding: 0 0 5px 5px;
}

.menuContainer {
  position: absolute;
  top: 12%;
  left: 85%;
  height: 50px;
  background: #F1F1F2;
  z-index: 4;
}

.sticky {
  position: fixed;
  top: 0%;
  left: 95%;
  height: 50px;
  z-index: 4;
}

.menu {
  margin: 0;
  position: relative;
}

.lines,
.menuLines {
  position: absolute;
  top: 0;
  left: -150%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  background: #F1F1F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.lines ul {
  margin-right: 10px;
}

.toggle {
  display: none;
}

.header {
  position: absolute;
  top: 25%;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header h4 {
  line-height: 2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

header h3 {
  margin-bottom: 10px;
}

header {
  background-image: linear-gradient(-55deg, #F1F1F2 50%, #A1D6E2 50%);
}

@media (max-width: 1030px) {
  .joke h3 {
    padding: 10px 0;
  }
}

@media (max-width: 870px) {
  .subTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 47%;
  }
  .subTitle li {
    margin: 15px 0 0 0;
  }
  .joke h3 {
    top: -10%;
  }
  span {
    display: block;
  }
}

@media (max-width: 760px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .subTitle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .menuContainer {
    top: 7%;
    left: 50%;
    background: #A1D6E2;
  }
  .mobile {
    display: block;
  }
  .mobileDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobileContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 0;
  }
  .mobileContainer li {
    margin-right: 20px;
  }
  .menuLines {
    position: absolute;
    top: 100%;
    left: -400%;
  }
  .lines {
    top: 0;
    left: -150%;
  }
  .start {
    display: none;
  }
  .sticky {
    top: 0%;
    left: 85%;
    background: #F1F1F2;
  }
  .header h1 {
    text-align: center;
  }
  .header h4 {
    display: none;
  }
  .title {
    display: none;
  }
}

@media (max-width: 460px) {
  h1 {
    margin-top: 60px;
  }
  .menuContainer {
    top: 5%;
  }
  .sticky {
    top: 0%;
    left: 80%;
  }
  .click a {
    font-size: 1rem;
    margin: 0;
    z-index: 5;
  }
  .menuLines {
    left: -250%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 6;
  }
  .fa-times {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobileDisplay {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mobileDisplay li {
    margin-right: 10px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.aboutText {
  padding-right: 15%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer {
  width: 100%;
  border-bottom: 3px solid #1995AD;
  text-align: center;
  margin-bottom: 10px;
}

.about .img {
  margin-left: 10px;
  -webkit-box-shadow: 15px 15px #1995AD;
          box-shadow: 15px 15px #1995AD;
}

@media (max-width: 1030px) {
  .about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutText {
    padding-right: 0;
  }
}

@media (max-width: 630px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .aboutText {
    width: 100%;
    margin-top: 40px;
  }
}

.portfolio {
  margin-top: 10%;
}

.projectImgMobile {
  display: none;
}

.portfolioText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectImg {
  background-color: #F1F1F2;
  z-index: 2;
}

.portfolioText h2 {
  margin: 10px 0;
  font-size: 3rem;
  position: relative;
}

.portfolioText h2::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 7%;
  height: 20%;
  width: 100%;
  background: #1995AD;
  z-index: -1;
}

.portfolioText h3,
.portfolioText p {
  opacity: 0.7;
}

.projectText p:nth-of-type(1) {
  font-family: "Crimson Text", serif;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectImg,
.projectText {
  width: 45%;
}

.projectText {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectText h3,
.projectText p {
  margin-bottom: 5%;
}

@media (max-width: 675px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .projectContainer .projectImgMobile {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 85%;
  }
  .projectContainer .projectImgMobile img {
    border-radius: 20px;
    border: 3px solid #474946;
    -webkit-box-shadow: 5px 5px #474946;
            box-shadow: 5px 5px #474946;
  }
  .projectImg {
    display: none;
  }
  .projectImgMobile {
    display: inline-block;
  }
  .projectContainer .projectText {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 40px;
  }
}

.skills,
.skillsContainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

.skillsContainer h2 {
  padding: 20px 0;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 3px solid #1995AD;
}

.skillUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skillUL li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 15px;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
  transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.skillUL li h4 {
  text-align: center;
}

.skillUL li:hover h4,
.skillUL li:hover {
  color: #1995AD;
}

.skillUL i {
  font-size: 2rem;
}

.skillUL h4 {
  margin-top: 15px;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
  transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.firebase {
  margin: 0;
}

.firebase h4 {
  margin-top: 10px;
}

.firebase svg {
  fill: #474946;
  font-size: 2rem;
  -webkit-transition: 0.5s fill;
  transition: 0.5s fill;
}

.firebase:hover svg {
  fill: #1995AD;
}

@media (max-width: 1145px) {
  .skillUL {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 490px) {
  .skillUL li {
    font-size: 0.9rem;
  }
}

.connect {
  margin-top: 5%;
  margin-bottom: 5%;
}

.connectContainer {
  margin-bottom: 5%;
}

.connectContainer h2 {
  padding: 20px 0;
}

.connectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.connectText a {
  border-bottom: 3px solid #1995AD;
}

.connectText p:nth-of-type(1) {
  margin: 1% 0;
}

.connectContainer {
  width: 100%;
  border-bottom: 3px solid #1995AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #474946;
  margin-top: 3%;
}

.nameEmail,
.messageConnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nameEmail {
  margin-right: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messageConnect {
  margin-left: 5%;
}

input,
textarea {
  background-color: #F1F1F2;
  border-top: 3px solid #1995AD;
  border-left: 3px solid #1995AD;
  border-right: 3px solid #A1D6E2;
  border-bottom: 3px solid #A1D6E2;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.name,
textarea {
  margin-bottom: 7%;
}

.nameEmail input[type="text"],
.nameEmail input[type="email"],
.form textarea:focus {
  color: #474946;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.nameEmail input[type="text"]:focus,
.nameEmail input[type="email"]:focus,
.form textarea:focus {
  background-color: #A1D6E2;
}

.nameEmail input[type="text"]:active,
.nameEmail input[type="email"]:active,
.form textarea:active {
  -webkit-box-shadow: 0 0 5px #1995AD;
          box-shadow: 0 0 5px #1995AD;
}

.form input[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  margin: 0 auto;
}

.connectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectLinks h2 {
  padding: 10px 0 20px;
}

.social h4 {
  margin-top: 10px;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
  transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.social,
.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
  transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.social:hover a,
.social:hover a h4 {
  color: #1995AD;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.email {
  margin: 20px 0;
}

@media (max-width: 580px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nameEmail,
  .messageConnect {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .social {
    margin: 0;
  }
  .social a {
    margin: 0 5px;
  }
  .social a h4:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .connect p,
  .connect .social,
  .social a i,
  .social a h4 {
    font-size: 1rem;
  }
}

footer {
  padding: 30px 0;
  text-align: center;
  background: #A1D6E2;
}

@media (max-width: 550px) {
  footer p {
    font-size: 0.9rem;
  }
}
